@model BeoordelingProject.ViewModel.AdminpaneelVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    @Html.ActionLink("Overzicht", "Index", "Admin", null, new { @class = "link" })
    <label> > <strong> Adminpaneel</strong></label>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()

        <b><a class="uitloggen" href="javascript:document.getElementById('logoutForm').submit()">Log uit.</a></b>
        @Html.Label("Welkom " + User.Identity.Name.Split('.')[0] + "!", new { @class = "username" })
    }
    <br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="loginbox">
        <br />
        <label class="errorViewbag">@ViewBag.FeedBack</label>
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>@Html.Label("E-mail: ")</td>
                <td>@Html.TextBoxFor(model => model.Email, new { @class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(model => model.Email, "Gelieve een correct e-mailadres in te geven")</td>
            </tr>
            <tr>
                <td>@Html.Label("Huidig wachtwoord: ")</td>
                <td>@Html.PasswordFor(model => model.WachtwoordVM.OldPassword, new { @class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(model => model.WachtwoordVM.OldPassword, "Gelieve uw huidig wachtwoord in te geven")</td>
            </tr>
            <tr>
                <td>@Html.Label("Nieuw wachtwoord: ")</td>
                <td>@Html.PasswordFor(model => model.WachtwoordVM.NewPassword, new { @class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(model => model.WachtwoordVM.NewPassword, "Wachtwoord moet minstens 6 karakters lang zijn")</td>
            </tr>
            <tr>
                <td>@Html.Label("Bevestig nieuw wachtwoord: ")</td>
                <td>@Html.PasswordFor(model => model.WachtwoordVM.ConfirmPassword, new { @class = "textbox" })</td>
                <td>@Html.ValidationMessageFor(model => model.WachtwoordVM.ConfirmPassword, "Wachtwoord komt niet overeen")</td>
            </tr>
        </table>
        <br />
        <div>
            @Html.EditorFor(model => model.AutoFeedback)
            @Html.ValidationMessageFor(model => model.AutoFeedback)
            <label for="AutoFeedback" class="control-label col-md-2">
                Automatische feedback per mail verkrijgen.
            </label>
        </div>
        <br />
        <input type="submit" value="Opslaan" class="actionbutton" />
        <br /><br />
        @Html.ActionLink("Studenten importeren", "Index", "Student", null, new { @class = "actionbutton" })
        <br />
        @Html.ActionLink("Accountbeheer", "AddStudentRol", "Accountbeheer", null, new { @class = "actionbutton" })
    </div>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
