@model BeoordelingProject.ViewModel.AccountbeheerVM
<div id="container">
    @using (Html.BeginForm())
    {
        <div class="accountdiv">
            <h1>
                Kies een student:
            </h1>
            @Html.ListBoxFor(a => a.SelectedStudent, Model.Studenten, new { @class = "listbox" })
        </div>
        <div class="accountdiv">
            <h1>
                Kies een gebruiker:
            </h1>
            @Html.ListBoxFor(a => a.SelectedAccount, Model.Accounts, new { @class = "listbox" })
        </div>
        <div class="accountdiv">
            <h1>
                Nieuw/wijzig account:
            </h1>
            <div class="login">
                @Html.Label("Gebruikersnaam")
                @Html.EditorFor(model => model.Account.UserName)
                @Html.ValidationMessageFor(model => model.Account.UserName)

                @Html.Label("Wachtwoord")
                @Html.EditorFor(model => model.Account.PasswordHash)
                @Html.ValidationMessageFor(model => model.Account.PasswordHash)

                @foreach (var rol in Model.Rollen)
                {
                    <input type="checkbox" id="@rol.ID" value="@rol.Naam" />
                }

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Opslaan" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</div>