@model BeoordelingProject.ViewModel.AccountbeheerVM
<div id="container">
    @using (Html.BeginForm())
    {
        <div class="accountdiv">
            <h1>
                Kies een student:
            </h1>
            @Html.DropDownListFor(modelItem => modelItem.SelectedStudentId, Model.Studenten as SelectList, new { @class = "listbox",size="20" })
        </div>
        <div class="accountdiv">
            <h1>
                Kies een gebruiker:
            </h1>
            @Html.DropDownListFor(a => a.SelectedAccount, Model.Accounts, new { @class = "listbox",size="20" })
        </div>
        <div class="accountdiv">
            <h1>
                Nieuw/wijzig account:
            </h1>
            <div class="login">
                @Html.Label("Gebruikersnaam")
                @Html.EditorFor(model => model.Account.UserName)
                @Html.ValidationMessageFor(model => model.Account.UserName)

                @Html.Label("Wachtwoord")
                @Html.PasswordFor(model => model.Account.PasswordHash)
                @Html.ValidationMessageFor(model => model.Account.PasswordHash)
                @foreach (var rol in Model.Rollen)
                {
                    <input type="checkbox" value="@rol.ID" name="rollen" />
                    <label for="@rol.ID">@rol.Naam</label>
                    <br />
                }
                <br />
                <div>
                    <input type="submit" value="Opslaan" />
                </div>
            </div>
        </div>

    }
</div>