@model BeoordelingProject.ViewModel.RapportVM

@{
    Layout = "";
}

<itext>
    <paragraph>
        <chunk>Peter VandenKerckhove</chunk>
    </paragraph>
</itext>

@*

@Styles.Render("~/Content/css")

<div class="rapport">
    <h1>Eindbeoordeling bachelorproef</h1>
    <h2>3e @Html.DisplayFor(model => model.Richting)</h2>

    <h3>
        @Html.Label("Naam student: ")
        @Html.DisplayFor(model => model.Naam)
        <br />
        @Html.Label("Academiejaar: ")
        @Html.DisplayFor(model => model.Academiejaar)
        <br />
        @Html.Label("Punt: ")
        @Html.DisplayFor(model => model.Punt)
    </h3><br />
</div>
    *@

