@model BeoordelingProject.ViewModel.CSVDataVM

@{
    ViewBag.Title = "Home Page";
}
<div id="container">
    @Html.ActionLink("Overzicht", "Index", "Admin", null, new { @class = "link" })
    <label> > </label>
    @Html.ActionLink("Adminpaneel", "Index", "Adminpaneel", null, new { @class = "link" })
    <label> > <strong> Studenten importeren</strong></label>
    <br />
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()

        <b><a class="uitloggen" href="javascript:document.getElementById('logoutForm').submit()">Log uit.</a></b>
        @Html.Label("Welkom " + User.Identity.Name.Split('.')[0] + "!", new { @class = "username" })
    }
    <br /><br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="file" id="file" name="file"/>
        <input type="button" value="Submit" id="submit" onclick="happytime()" class="actionbutton">
        <input type="submit" value="Importeer" id="submit" class="actionbutton"/>

        @Html.Hidden("csvData", Model.csvData);
    }
</div>

<script>
    function happytime() {
        var datafield = document.getElementById("csvData");
        var fileInput = document.getElementById("file");

        var file = fileInput.files[0];
        var textType = /text.*/;
        var reader = new FileReader();

        reader.onload = function (e) {
            datafield.value = reader.result;
        }

        reader.readAsText(file, 'ISO-8859-1');

    }

</script>
