@model BeoordelingProject.ViewModel.CSVDataVM

@{
    ViewBag.Title = "Home Page";
}
<div id="container">
    @Html.ActionLink("Overzicht", "Index", "Admin", null, new { @class = "link" })
    <label> > </label>
    @Html.ActionLink("Adminpaneel", "Index", "Adminpaneel", null, new { @class = "link" })
    <label> > <strong> Studenten importeren</strong></label>
    <br />
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()

        <b><a class="uitloggen" href="javascript:document.getElementById('logoutForm').submit()">Log uit.</a></b>
        @Html.Label("Welkom " + User.Identity.Name.Split('.')[0] + "!", new { @class = "username" })
    }
    <br /><br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "csvForm"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td><input id="uploadFile" class="filetext" placeholder="Geen bestand gekozen..." disabled="disabled" /></td>
                <td class="upload"><input id="file" type="file" name="upload" /></td>
            </tr>
            <tr>
                <td>
                    <label for="academiejaar">Academiejaar:</label>
                </td>
            </tr>
            <tr>
                <td><input type="text" class="filetext" name="academiejaar" id="academiejaar" /></td>
            </tr>
        </table>
        <br />
        
        <!--<input type="button" value="Submit" id="submit" onclick="getFile();" class="actionbutton">-->
        <input type="button" value="Importeer" id="importStudenten" onclick="getFile();" class="actionbutton"/>
        <input type="submit" value="Submit" id="submit" onclick="getFile();" class="actionbutton">
        
        @Html.Hidden("csvData", Model.csvData);
    }
</div>

<script>
    function getFile() {
        var datafield = document.getElementById("csvData");
        var fileInput = document.getElementById("file");

        var file = fileInput.files[0];
        var textType = /text.*/;
        var reader = new FileReader();

        reader.onload = function (e) {
            datafield.value = reader.result;
        }

        reader.readAsText(file, 'ISO-8859-1');

        //document.getElementById("csvForm").submit();
    }

    document.getElementById("file").onchange = function () {
        var path = this.value;
        var stukken =  path.split("\\");
        document.getElementById("uploadFile").value = stukken[2];
    };

</script>
