@model BeoordelingProject.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<div id="container" align="center">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>
            <div id="loginbox">
                <table>
                    <tr>
                        <td>@Html.Label("Gebruikersnaam")</td>
                        <td>@Html.TextBoxFor(m => m.UserName)</td>
                        <td>@Html.ValidationMessageFor(m => m.UserName,"Gebruikersnaam is verplicht")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Wachtwoord")</td>
                        <td>@Html.PasswordFor(m => m.Password)</td>
                        <td>@Html.ValidationMessageFor(m => m.Password,"Wachtwoord is verplicht")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Log in" class="button"/></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}