@model BeoordelingProject.ViewModel.BeoordelingsVM
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Beoordeling";
}   

<div id="container">
    @Html.ActionLink("Studentkeuze", "Index", null, new { @class = "link" })
    <label> > <strong> Beoordelingen</strong></label>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()

        <b><a class="uitloggen" href="javascript:document.getElementById('logoutForm').submit()">Log uit.</a></b>
        @Html.Label("Welkom " + User.Identity.Name.Split('.')[0] + "!", new { @class = "username" })
    }
    <br /><br />
    @if (Model.Matrix.Tussentijds) {
        <h1>Tussentijdsbeoordelingen</h1>
    }
    else {
        <h1>Eindbeoordelingen</h1>
    }
    
    <h2>Beoordelen: @Html.DisplayFor(model => model.Student.Naam) - @Html.DisplayFor(model => model.Matrix.Richting)</h2>
    <h2>Beoordelaar: @User.Identity.GetUserName()</h2>

    @using (Html.BeginForm())
    {
        Html.AntiForgeryToken();
        Html.ValidationSummary(true);

        int counter = 0;
        
        <table id="beoordelingtabel">

            @foreach(var item in Model.Matrix.Hoofdaspecten)
            {
                <tr>
                    <th colspan="6" class="aspect">@Html.DisplayFor(modelItem => item.Naam)</th>
                </tr>
                
                for(int i = 0; i < item.Deelaspecten.Count; i++)
                {
                    <tr>
                        <td colspan="6" class="deelaspectplus" onselectstart="return false" onclick="showinfo(this)">
                            @Html.DisplayFor(model => item.Deelaspecten[i].Omschrijving)
                        </td>
                    </tr>
                    <tr>
                        <td>VOV (0-6)</td>
                        <td>OV (7-8-9)</td>
                        <td>V (10-11)</td>
                        <td>RV (12-13)</td>
                        <td>G (14-15)</td>
                        <td>ZG (>=16)</td>
                    </tr>
                    <tr class="buttons">
                        <td>@Html.RadioButtonFor(model => model.Resultaten.DeelaspectResultaten[counter].Score, 3, new { @class = "rbMatrices" })</td>
                        <td>@Html.RadioButtonFor(model => model.Resultaten.DeelaspectResultaten[counter].Score, 8, new { @class = "rbMatrices" })</td>
                        <td>@Html.RadioButtonFor(model => model.Resultaten.DeelaspectResultaten[counter].Score, 10.5, new { @class = "rbMatrices" })</td>
                        <td>@Html.RadioButtonFor(model => model.Resultaten.DeelaspectResultaten[counter].Score, 12.5, new { @class = "rbMatrices" })</td>
                        <td>@Html.RadioButtonFor(model => model.Resultaten.DeelaspectResultaten[counter].Score, 14.5, new { @class = "rbMatrices" })</td>
                        <td>@Html.RadioButtonFor(model => model.Resultaten.DeelaspectResultaten[counter].Score, 18, new { @class = "rbMatrices" })</td>
                    </tr>
                    <tr id="@Html.DisplayFor(model => item.Deelaspecten[i].Omschrijving)" style="display:none">
                        <td>@Html.DisplayFor(model => item.Deelaspecten[i].VOVOmschrijving)</td>
                        <td>@Html.DisplayFor(model => item.Deelaspecten[i].OVOmschrijving)</td>
                        <td>@Html.DisplayFor(model => item.Deelaspecten[i].VOmschrijving)</td>
                        <td>@Html.DisplayFor(model => item.Deelaspecten[i].RVOmschrijving)</td>
                        <td>@Html.DisplayFor(model => item.Deelaspecten[i].GOmschrijving)</td>
                        <td>@Html.DisplayFor(model => item.Deelaspecten[i].ZGOmschrijving)</td>
                    </tr>
                    counter++;
                }
                
            }

        </table>
        @Html.HiddenFor(model => model.MatrixID)
        @Html.HiddenFor(model => model.Student.ID)
        @Html.HiddenFor(model => model.Rol_ID)
        <input type="submit" value="Opslaan" />
    }

</div>